# Allwinner sun6i I2C configuration options

# Copyright (c) 2025
# SPDX-License-Identifier: Apache-2.0

config I2C_SUN6I
	bool "Allwinner sun6i TWI (I2C) driver"
	default y
	depends on DT_HAS_ALLWINNER_SUN20I_D1_I2C_ENABLED
	select PINCTRL
	help
	  Enable the sun6i-style TWI controller driver used by
	  Allwinner D1/D1s (F133) SoCs.
